$white: #ffffff;
$black: #07041f;
$primary-color: #160999;
$green: #0fc46d;
$yellow: #f79723;
$red: #940d1e;
// Small tablets and large smartphones (landscape view)
$screen-xs-max: 376px;

$screen-sm-max: 576px;
// Small tablets (portrait view)
$screen-md-max: 768px;
// Tablets and small desktops
$screen-lg-max: 992px;
// Large tablets and desktops
$screen-xl-max: 1230px;
