@import "../../assets/scss/mixins";
@import "../../assets/scss/_variables.scss";

.extended-permit {
  padding: 40px 20px 120px;
  .container-m {
    .card {
      background: #f6f9f9;
      .card-header {
        background: #39979c;
        padding: 24px;
        .title {
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 32px;
          letter-spacing: 0.78px;
          text-align: center;
          text-transform: uppercase;
          color: #f6f9f9;
          @include sm {
            font-size: 16px;
            line-height: 24px;
          }
        }
        @include sm {
          padding: 16px;
        }
      }
      .card-content {
        border: 1px solid #d7e2e2;
        padding: 24px;
        .subtitle {
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 32px;
          letter-spacing: 0.78px;
          text-align: center;
          text-transform: uppercase;
          color: #39979c;
          margin-bottom: 24px;
          @include sm {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
          }
        }
        .descriptions {
          > p {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.78px;
            color: #000000;
            &:not(:last-child) {
              margin-bottom: 16px;
            }
            @include sm {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
        @include sm {
          padding: 16px;
        }
      }
    }
  }
  @include lg {
    padding: 40px 20px 80px;
  }
  @include lg {
    padding: 40px 16px 120px;
  }
}
