@import "../../assets/scss/mixins";
@import "../../assets/scss/_variables.scss";

.oversize-and-overweight-permit {
  padding: 40px 20px 120px;
  .container-m {
    .card {
      background: #f6f9f9;
      .card-header {
        background: #39979c;
        padding: 24px;
        .title {
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 22px;
          letter-spacing: 0.78px;
          text-align: center;
          text-transform: uppercase;
          color: #f6f9f9;
        }
      }
      .card-content {
        border: 1px solid #d7e2e2;
        padding: 24px;
        .subtitle {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: 0.78px;
          text-align: center;
          text-transform: uppercase;
          color: #39979c;
          margin-bottom: 40px;
        }
        .descriptions {
          padding-left: 16px;
          > p {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.78px;
            color: #000000;
            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
          .list {
            li {
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 30px;
              letter-spacing: 0.78px;
              color: #000000;
              margin-bottom: 16px;
            }
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}
