@import "../../../assets/scss/mixins";
@import "../../../assets/scss/_variables.scss";

.routes-container {
  .routes-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #000000;
    margin-bottom: 32px;
    @include lg {
      margin-bottom: 24px;
    }
    @include sm {
      margin-bottom: 16px;
    }
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    > div {
      padding: 160px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f6f9f9;
      border: 1px solid #d7e2e2;
      > svg {
        margin-right: 16px;
      }
      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.42px;
        color: #39979c;
        @include lg {
          font-size: 20px;
          line-height: 24px;
        }
        @include md {
          font-size: 16px;
          line-height: 20px;
        }
      }
      &:hover {
        border: 1px solid #39979c;
      }
      @include lg {
        padding: 120px 20px;
      }
      @include sm {
        padding: 10px;
        width: 240px;
        height: 240px;
      }
    }
    @include sm {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
