@import "./assets/scss/_fonts.scss";
@import "./assets/scss/_mixins.scss";
@import "./assets/scss/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  // min-height: 100vh;
  color: #000;
  &.fixed {
    overflow: hidden;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container-m {
  max-width: 1024px;
  margin: 0 auto;
}
button {
  &.primary {
    padding: 16px 10px;
    min-height: 56px;
    background: #39979c;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-transform: capitalize;
    color: #ffffff;
    // margin-top: 32px;
    width: 100%;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
    }
  }
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.7);
  > .popup-content {
    @include md {
      margin: 168px auto auto !important;
    }
  }
}

.input-group,
.form-input {
  position: relative;
  .error-text {
    position: absolute;
    right: 0;
    bottom: -21px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.42px;
    text-transform: capitalize;
    color: #f11212;
  }
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  max-width: 730px;
  min-height: 405px;
  border-radius: 20px;
  overflow: hidden;
}

[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
.entering-tab {
  .form-select {
    z-index: 3;
  }
}
